 * {
    margin: 0;
    padding: 0;
    font-family: 'work sans', sans-serif;

 }

 .header {
    margin-bottom: 150px;


 }

 .container {
    display: flex;
    position: relative;


 }



 .banner {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    color: #ffffff;
    text-align: right;
    margin-top: 100px;
    margin-right: 100px;
    font-size: 35px;

 }

 .banner-title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 25px;
 }

 .banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
 }

 .banner-btn {
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border: 0;
    border-radius: 5px;
    padding: 12px 23px;
 }

 /* main */
 .main-container {
    position: relative;
    display: flex;
    margin-bottom: 130px;

 }


 .main-text {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    margin-top: 220px;
    margin-right: 100px;
    height: 500px;
    width: 40%;
 }

 .main-title {
    color: #151414;
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
 }

 .main-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
 }

 ol li {
    list-style: none;
    line-height: 30px;
    font-size: 14px;
    color: #444343;

 }

 .plan {
    margin-bottom: 130px;
 }


 .plan-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
 }


 .plan-container {
    display: flex;
    justify-content: space-around;
 }

 .plan-summary {
    text-align: center;
    margin-right: 50px;
    margin-left: 5px;
    padding: 20px;

 }

 .plan-head {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-bottom: 14px;
    margin-top: 15px;
 }

 .plan-des {
    font-weight: 500;
    font-size: 25px;
    color: #737272;

 }

 /* positive mind */
 .positive {
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 40px;
    padding-right: 100px;


 }

 .positive-mind {
    display: flex;

 }

 .positive-text {
    position: absolute;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 40%;
    margin-left: 40px;

 }

 .positive-img {
    position: absolute;

 }

 .positive-title {
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 20px;
 }

 .positive-btn {
    font-weight: 900;
    background-color: #ffffff;
    color: #005FAC;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    height: 65px;
    width: 30%;
 }



 /* footer */

 .footer-container {
    position: relative;
    display: flex;
    padding: 40px;
    background: black;

 }

 .footer-title {
    font-weight: 700;
    font-size: 45px;
    margin-top: 80px;
    margin-bottom: 10px;
 }

 .footer-des {
    font-weight: 400;
    font-size: 16px;
    width: 60%;
    line-height: 26px;
    margin-bottom: 20px;
 }

 .footer-left {
    color: #ffffff;
    font-size: 30px;
 }

 .footer-right {
    text-align: right;
    top: 0;
    right: 0;
    color: #ffffff;
    padding: 15px;
    margin-right: 200px;
    text-align: left;

 }

 .footer-sub-title {
    font-weight: 600;
    font-size: 25px;
    margin-top: 80px;
    margin-bottom: 20px;


 }

 .footer-in {
    height: 40px;
    width: 160%;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    padding: 10px;
    color: #f3f3f3;
    font-size: 16px;
    margin-bottom: 15px;
 }

 .footer-btn {
    font-weight: 700;
    background-color: #005FAC;
    color: #ffffff;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    height: 65px;
    width: 100%;
 }